body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #0000FF;
}

 .highlight {
 color: aqua;
}

    #IntroContainer{
        width: 400px;
        float: left;
    }   
    #IntroPicture{
        float: left;
        width: 100;
        margin: 0px 0px 0px -90px;
    }


    .reset{
        clear: both;
    }

    #Hobbiescontainer {
        float: left ;
        width: 400px;
        margin: 100px 500px 0px 260px;  
    }

    #Donkey {
        float: left;
        width: 50px;
        margin: 0px 50px 0px 100px;
    }

   #Heroshot {
    float: right  ;
    }

   #Name {
        float: left;
    }


    .reset{
        clear: both;
    }

    #x {
        float: left;
        width: 500px;
        margin: auto;

        #MainContainer {
            width: 500px;
            margin: 0px auto;
        }
    }
