body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #0000FF;
}

 .highlight {
 color: aqua;
}

    #IntroContainer{
        width: 400px;
        float: left;
    }   
    #IntroPicture{
        float: left;
    }


    .reset{
        clear: both;
    }

    #Hobbiescontainer {
        float: right ;
        width: 420px;
    }

   #Heroshot {
    float: right  ;
    }

   #Name {
        float: left;
    }


    .reset{
        clear: both;
    }

    #Test {
        float: left;
        width: 500px;
        margin: auto;

        #MainContainer {
            width: 500px;
            margin: 0px auto;
        }
    }
